body {
  font-family: Arial;
}

.visual-container {
  margin: 50px auto;
  width: 20%;
  padding: 50px;
  background-color: #DAF0DB;
  border-radius: 10px;
}

.expandable-select {
   display: inline-block;
   overflow: hidden;
   height: 20px;
   width: 100px;
   border: 1px solid #749175;
   border-radius: 5px;
   vertical-align: text-bottom;
}

.list-container {
  position: relative;
}

ul {
    list-style: none;
}

.expdropdown {
    visibility: hidden;
    transition: height .25s linear;
    -moz-transition:height .25s linear;
    -webkit-transition:height .25s linear;
}

ul {
    cursor: pointer;
    padding: 0;
    margin: 0;
    position: absolute;
}

ul li {
    border-top: 1px solid #888;
    cursor: pointer;
    margin: 0;
    padding: 0 10px;
}

li:first-child {
    border-top: none;
}

li:hover {
    background: #D5E7F2;
}

